#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: ivanachavez

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDZmETipFEKVusB8uc2bu/6lFNAhK3jhxVCpsgY8vF314xIpGBNGoa4Ntso9wcZHNkMBPEfZgKtVBUMrEr3vTRv+8WOlTMJHGOvpvLSvC+mkNqCsXPDGG0JANXG5dX0MVp7Hj1yQWJLTD4HN7QwLj4PYec8KbOqArkyRi8Yv7Jm9iLhU0cU9AoyVGSm13KVu4C0+YGgA9Yo1FfbRGGXXiNpXex6CUnmGPq6VotapJ5ay2DQAAilccL73Iop2NmAKsMmHt5dxV6YgolWhiWO2cyW5e4R26VzDvJ02dduNNJ0lAFDjlkft8hx894CqGkrbbF3P3nx6SdZfR/oHhfmsVXz ivanachavez@ivana

    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo

    lock_passwd: false
